// $primaryColor: lightgoldenrodyellow;
// $btn: rgb(212, 194, 35);
// $btn-edit: green;
// $btn-delete: red;
// $black: #333;
// $white: #fff;
// $grey: rgb(175, 175, 175);
// $hover: rgb(123, 195, 123);

$primaryColor: #81bece;
$secondary: #005c6f;
$btn: #aec670;
$btn-edit: green;
$btn-delete: red;
$black: #333;
$white: #fff;
$grey: rgb(175, 175, 175);
$hover: rgb(123, 195, 123);
$red: rgb(190, 14, 14);
