// @use "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

$primaryColor: #81bece;
$btn: #aec670;
$btn-edit: green;
$btn-delete: red;
$black: #333;
$white: #fff;
$grey: rgb(175, 175, 175);
$hover: rgb(123, 195, 123);
$red: rgb(190, 14, 14);

//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #4a4a4a;
  background-image: url("../../public/dark-mosaic.png");
  color: $white;
}

.btn {
  padding: 10px 20px;
  border: 1px solid $btn;
  border-radius: 5px;
  background: $btn;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  z-index: 10;
  &:hover {
    background: $black;
    border: 1px solid $black;
    color: $white;
    transform: translate(0.2rem, -0.2rem);
  }
  &-edit {
    background: $white;
    margin-right: 10px;
    border: 1px solid $white;
    &:hover {
      background: $btn;
      border: 1px solid $btn;
      color: $black;
      transform: translate(0.2rem, -0.2rem);
    }
  }

  &-delete {
    background: $black;
    color: $white;
    border: 1px solid $black;
    &:hover {
      background: $red;
      border: 1px solid $red;
      color: $black;
      transform: translate(0.2rem, -0.2rem);
    }
  }
  &-down {
    background: $black;
    color: $white;
    border: 1px solid $black;
    &:hover {
      background: $btn;
      border: 1px solid $btn;
      color: $black;
      transform: translate(0.2rem, -0.2rem);
    }
  }

  &-block {
    width: 100%;
    margin-bottom: 20px;
  }

  &-cancel {
    background: $grey;
    border: 1px solid $grey;
  }

  &-danger {
    background: $red;
    color: $white;
    border: 1px solid $red;
  }
}

a {
  text-decoration: none;
  color: $white;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: 600;
}

//mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  @include flex-center();
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

//header
.header {
  height: 70px;
  padding: 2rem;
  width: 100%;
  z-index: 100;
  margin-bottom: 1rem;
  .container {
    @include flex-between();
    padding: 0 1rem 2rem;
    border-bottom: 1px solid $white;
    .logo {
      font-size: 1.3rem;
      a {
        &:hover {
          color: $grey;
        }
      }
    }

    ul {
      @include flex-center();
      li {
        margin-left: 1.5rem;
        a {
          &:hover {
            color: $grey;
          }
          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

//body
.body-container {
  @include flex-center();
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;

  //heading
  .heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    padding: 0 1.2rem;
    text-align: center;
    width: 80%;
    p {
      color: rgb(175, 175, 175);
    }

    .search {
      @include flex-between();

      .column {
        width: 25%;
        display: flex;
        flex-direction: column;

        label {
          font-size: 1.5rem;
        }
        input,
        select {
          padding: 10px;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          font-family: inherit;
          outline: none;
        }
      }
    }
  }

  //forms for registration
  .form {
    width: 40%;
    margin: 0 auto;

    .form-group {
      margin-bottom: 10px;
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        font-family: inherit;
        outline: none;
      }
      label {
        text-align: left;
        display: block;
        margin: 0 0 5px 3px;
      }
      &.password-input {
        display: flex;

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: none;
        }
        .password-icon {
          height: 42px;
          width: 42px;
          cursor: pointer;
          display: grid;
          place-items: center;
          background-color: $white;
          border: 1px solid #e6e6e6;
          border-left: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          svg {
            font-size: 1.5rem;
            color: $black;
          }
        }
      }
    }
  }
  // add new receipt
  .receipt-form {
    width: 80%;
    border: 1px solid $grey;
    padding: 1rem;
    form {
      margin: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      .receiptID {
        grid-column: 1/5;
        display: flex;
        justify-content: space-between;
      }
      .left {
        grid-column: 1/3;
        .names {
          display: flex;
          justify-content: space-between;
          width: 100%;
          div {
            width: 48%;
          }
        }
      }
      .right {
        grid-column: 3/5;
      }
      button {
        grid-column: 2/4;
      }
    }
    .form-group {
      margin-bottom: 10px;
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        font-family: inherit;
        outline: none;
      }

      .select-active {
        background-color: $grey;
      }
    }
  }

  // receipt item on dashboard
  .content {
    @include flex-center();
    margin-top: 2rem;
    width: 80%;

    .receipts {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

      .receipt-item {
        border: 1px solid $white;
        margin: 10px 0;
        padding: 5px 10px;
        transition: all 0.3s ease-in;
        * {
          margin: 5px 0;
        }
        .delete {
          display: flex;
          justify-content: flex-end;
        }
        .receipt-body {
          margin-top: -2.5rem;
        }
        .receipt-snippet {
          div {
            @include flex-between();
          }
        }
        &:hover {
          background: $black;
          border: 1px solid $black;
          cursor: pointer;
          color: $white;
          transform: translate(0.2rem, -0.2rem);
        }
      }
    }
  }

  .receipt-page {
    width: 80%;
    border: 1px solid #fff;
    padding: 1.5rem;

    .receipt-info {
      @include flex-center();
      flex-direction: column;
      h3 {
        align-self: end;
      }
      .receipt-head {
        width: 100%;
        @include flex-between();

        h1 {
          padding: 0;
        }
      }
    }
    .donor {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 1rem;
      align-items: center;
      justify-items: center;
      grid-gap: 10px;
      p {
        padding: 1rem 0;
        grid-column: 1 / 3;
      }
    }
    .edit {
      @include flex-center();
      flex-direction: column;
      .btn-edit {
        margin-right: 0;
      }
      a {
        @include flex-center();
        width: 50%;
      }
    }
  }

  .confirm {
    @include flex-center();
    flex-direction: column;
    border: 1px solid $white;
    padding: 1rem 1rem 2rem;

    .actions {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

//Spinner
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #fff transparent rgb(190, 183, 183) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

//footer
.footer {
  width: 100%;
  color: $white;
  height: 70px;
  bottom: 0;
}
